:root {
  --clr--primary__700: #936441;
  --clr--primary__500: #88644d;
  --clr--primary__100: #a9917f;
  --clr--accent__700: #fad900;
  --clr--accent__500: #ffe950;
  --clr--accent__300: #ffec70;
  --clr--accent__100: #fff7c6;
  --clr--neutral__100: #ffffff;
  --clr--neutral__300: #f8f7fc;
  --clr--neutral__700: #858585;
  --clr--neutral__800: #393939;
  --clr--neutral__900: #000000;

  --fs__xl: 10rem;
  --fs__l: 3rem;
  --fs__900: 2rem;
  --fs__700: 1.75rem;
  --fs__600: 1.25rem;
  --fs__500: 1.125rem;
  --fs__300: 1rem;
  --fw__500: 400;
  --fw__700: 700;

  --spacer: 0.75rem;
}

@media (min-width: 35em) {
  :root {
    --fs__900: 2.5rem;
    --fs__700: 2rem;
    --fs__600: 1.5rem;
  }
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  display: block;
  font: inherit;
  all: inherit;
}

/* general styling */

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--fs__500);
  color: var(--clr--neutral__800);
  line-height: 1.5;
}

h1 {
  font-size: var(--fs__900);
}

h2 {
  font-size: var(--fs__700);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: var(--clr--primary__500);
}

a:hover,
a:focus {
  color: var(--clr--primary__100);
  transition: color 300ms ease;
}

.p-large {
  font-size: var(--fs__600);
}

.p-small {
  font-size: var(--fs__300);
}

.answer {
  font-size: var(--fs__300);
  color: var(--clr--neutral__700);
}

.answer::before {
  content: '\00BB';
  margin-right: 0.5em;
}

.punkte--accent {
  font-size: var(--fs__xl);
  color: var(--clr--accent__500);
  font-weight: var(--fw__700);
  line-height: 0.85;
}

.punkte {
  font-size: var(--fs__600);
  font-weight: var(--fw__700);
  line-height: 1;
}

/* form elements */

input[type='radio'] {
  height: 1.5rem;
  width: 1.5rem;
}

.input {
  color: var(--clr--neutral__800);
  display: flex;
  align-items: center;
}

.input > * + * {
  margin-left: 0.5rem;
}

/* utility classes */

.container {
  max-width: 45rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flow > * + * {
  /* adds consistent margins */
  margin-top: var(--spacer);
}

.flow--xl > * + * {
  margin-top: calc(1.5 * var(--spacer));
}

.flow--xxl > * + * {
  margin-top: calc(2.5 * var(--spacer));
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex > * + * {
  margin-top: calc(var(--spacer));
}

.flex--sb {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  padding: 3rem 0;
  border-radius: 1rem;
  border: 5px solid var(--clr--accent__300);
  background: var(--clr--accent__100);
}

.socials > * {
  display: inline-block;
  transition: transform 350ms ease-in-out, opacity 350ms;
}

@media (max-width: 30em) {
  .socials > * {
    height: 2.25rem;
    width: 2.25rem;
  }
}

.socials > *:hover {
  opacity: 0.8;
  transform: translateY(-0.125rem);
}

.socials > * + * {
  margin-left: 0.75rem;
}

.border::before {
  content: '';
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  border-radius: 100vw;
  border: 0.45rem solid var(--color, var(--clr--neutral__700));
  margin-right: 0.5em;
}

.red {
  --color: red;
}

.orange {
  --color: orange;
}

.yellow {
  --color: var(--clr--accent__500);
}

.lightgreen {
  --color: rgb(160, 235, 137);
}

.green {
  --color: green;
}

@media (min-width: 45em) {
  .flex {
    flex-direction: row;
  }

  .flex > * + * {
    margin-top: 0;
    margin-left: calc(var(--spacer) * 2);
  }

  .input {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .inputs > * {
    flex-basis: 100%;
    min-width: max-content;
  }

  .input > * + * {
    margin-left: 0;
    margin-bottom: 0.25rem;
  }

  .inputs {
    text-align: center;
  }
}

/* components */
.background {
  z-index: -1;
}

.datenschutz {
  position: absolute;
  bottom: 5px;
  left: 15px;
  opacity: 0.75;
  transform: rotate(-90deg);
  transform-origin: left;
  opacity: 0.5;
}

.datenschutz.results {
  position: static;
  transform: rotate(0deg);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.datenschutz a {
  text-decoration: none;
  color: var(--clr--neutral__700);
}

.datenschutz > * + * {
  margin-left: 0.75rem;
}

@media (min-width: 45em) {
  .datenschutz {
    bottom: auto;
    left: auto;
    top: 5px;
    right: 10px;
    transform: rotate(0deg);
  }
}

.logo {
  max-width: 310px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.btn {
  width: max-content;
  font-size: 0.875rem;
  font-weight: var(--fw__700);
  color: var(--clr--primary__700);
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: var(--clr--primary__700);

  margin: 2rem auto 0;
  padding: 0.75em 2em;

  background-color: var(--clr--neutral__100);
  border: 2px solid var(--clr--primary__700);
  border-radius: 100vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: border-color 300ms ease;
}

.btn:hover,
.btn:focus {
  border-color: var(--clr--neutral__100);
}

@media (min-width: 45em) {
  .btn {
    margin-top: 3rem;
  }

  .logo {
    margin-top: 1rem;
    margin-left: 2rem;
    align-self: flex-start;
  }
}

.resi {
  height: 0px;
  align-self: flex-end;
  margin-right: 1rem;
  max-height: 220px;
}

.resi.results {
  display: none;
}

@media (min-width: 90em) {
  .resi.results {
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}

@media (min-width: 95em) {
  .logo.results {
    position: fixed;
    top: 2rem;
    left: 2.25rem;
  }
}

#questions {
  width: 100%;
}

.progress {
  max-width: 620px;
  margin: 0 auto;
  height: 0.75rem;
  border-radius: 0.5em;
  background: var(--clr--neutral__300);
  box-shadow: inset 0px 3px 0.3rem rgba(0, 0, 0, 0.05);
  margin-bottom: 2.5rem;
  padding: 4px;
  position: relative;
}

.progress__inner {
  width: 70%;
  height: 100%;
  border-radius: 0.5em;
  background: var(--clr--accent__700);
  position: relative;
}

.progress__inner::after {
  position: absolute;
  right: 0;
  top: -1.375rem;
  color: var(--clr--neutral__700);
  display: block;
  content: attr(data-content);
  font-size: 0.75rem;
  border-radius: 100vw;
}

.progress::after {
  position: absolute;
  right: 0;
  top: -1.125rem;
  color: var(--clr--neutral__700);
  display: block;
  content: attr(data-content);
  font-size: 0.75rem;
  border-radius: 100vw;
}

/* layout */

.question {
  margin: 0;
}

.inputs {
  margin: 2rem auto 0;
  width: max-content;
}

@media (min-height: 55em) {
  @media (min-width: 45em) {
    .question {
      margin: 10rem 0 0;
    }

    .resi {
      height: auto;
    }
  }
}

section {
  padding: 0 2rem;
}

section + section {
  margin-top: 5rem;
}

.section__points {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 4vw;
}

.section__points > * + * {
  margin-left: 0.5rem;
}

.points {
  margin-top: 4rem;
}

.point > p:first-child {
  flex-basis: 25%;
  flex-shrink: 0;
}

.point--larger > p:first-child {
  flex-basis: 30%;
  flex-shrink: 0;
}

@media (min-width: 45em) {
  section + section {
    margin-top: 8rem;
  }

  .section__points {
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 1.5rem;
  }

  .points {
    margin-top: 4rem;
  }
}

@media (max-height: 600px) {
  .flex--sb {
    padding: 1rem 2rem;
  }
}

.print-container {
  align-items: center;
  margin-top: 4rem !important;
}

.print-container p {
  color: var(--clr--neutral__700);
}

@media (max-width: 40em) {
  .print-container p {
    margin-top: 1.5rem;
  }
}

.print {
  display: inline-block;
  margin-left: 1rem;
  min-width: 1.4rem;
  max-width: 1.6rem;
}

.btn--print {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 !important;
}

#questions {
  display: none;
}

@media print {
  :root {
    --fs__900: 2rem !important;
    --fs__700: 1.75rem !important;
    --fs__600: 1.25rem !important;
  }

  .flex {
    display: block;
  }
  .flex > * + * {
    margin-left: 0;
  }

  .flex--sb {
    align-items: unset;
  }

  .print-container {
    display: none;
  }

  .datenschutz {
    display: none;
  }

  .background {
    position: static !important;
    min-height: auto;
    padding-bottom: 0;
  }

  .section__points {
    margin-top: 2rem;
    flex-direction: row;
    align-items: flex-end !important;
    justify-content: center !important;
  }

  .resi {
    display: block !important;
    height: auto !important;
  }

  #results {
    margin-top: 0rem !important;
  }
}
